.navigation {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 4px;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s;
  font-size: 16px;
  line-height: 1.2;
}

.navigation__link:hover {
  opacity: 0.8;
}

.navigation__link_active {
  text-decoration: underline;
}

@media (max-width: 680px) {
  .navigation {
    gap: 12px;
    flex-wrap: wrap;
  }
}
